<html>
<link rel="stylesheet" type="text/css" media="screen" href="static/sfbrowser/css/sfbrowser.css" />
<script type="text/javascript" src="static/scripts/jquery-1.6.4.js"></script>
<script type="text/javascript" src="static/sfbrowser/SWFObject.js"></script>
<script type="text/javascript" src="static/sfbrowser/jquery.tinysort.min.js"></script>
<script type="text/javascript" src="static/sfbrowser/jquery.sfbrowser.js"></script>
<script type="text/javascript" src="static/sfbrowser/lang/en_EN.js"></script>
<script type="text/javascript">
        jQuery.sfbrowser.defaults.connector = "django";
        jQuery.sfbrowser.defaults.sfbpath = "sfbrowser/";
        jQuery.sfbrowser.defaults.base = "";
        jQuery.sfbrowser.defaults.previewbytes = 600;
        jQuery.sfbrowser.defaults.deny = [];
        jQuery.sfbrowser.defaults.browser = "";
        jQuery.sfbrowser.defaults.debug = false;
        jQuery.sfbrowser.defaults.maxsize = 100;
        jQuery.sfbrowser.defaults.browser = "{{ browser|safe }}";
        jQuery.sfbrowser.defaults.x = 0;
        jQuery.sfbrowser.defaults.y = 0;
        jQuery.sfbrowser.defaults.w = 700;
        jQuery.sfbrowser.defaults.h = 500;
        jQuery.sfbrowser.defaults.select = function(files) {
                console.log(files);
            $.each(files, function(index, file) {
                var file_split = file["file"].split("/");
                file_split.splice(0, 1);
                file_name = file_split.join("/");
                $("#dllinks").append($("<a>"+file_name+"</a>").attr({href:'/sfbrowser/connectors/django/sfbrowser.django?a=download&file='+file_name}));
                $("#dllinks").append($("<br>"));
            });
        }
</script>
<body>
    <p>Welcome to the file manager, please select the container where you would like to download or upload files.</p>
    <ul>
    {% for container in containers %}
    <li><input type="button" value="{{container}}" onclick="$.sfb({base:'{{container}}'});"></li>
    {% endfor %}
    </ul>
    <div id="dllinks"></div>
</body>
</html>
